.button {
    background-color: #FFFFFF; /* White */
    border: none;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #4095c6;
}

th {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: pointer;
}

.styled-table {
    border-collapse: collapse; /* no space between cell borders */
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); /* subtle shadow around table */
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px; /* increased spacing between header and data */
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd; /* added separation between lines */
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3; /* every other line shaded for readability */
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879; /* bottom of table has thicker border */
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    text-align: center;
    padding: 15px;
}

nav li a {
    font-family: din-2014, sans-serif;
    font-size: 15px;
    color: rgb(150,150,150);
    text-decoration: none;
    background-color: none;
}

nav li a:hover {
    color: black;
}

p {
    font-family: din-2014, sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 30px 20%;
    color: rgb(150,150,150);
}
h1 {
    font-family: din-2014, sans-serif;
    font-size: 53px;
    text-align: center;
    margin: 25px 0px;
    color: #D5AF39;
}